@model WebApplication3.Models.Calc
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <section>
        <h3>
            answer = @Model.answer
        </h3>
    </section>
</body>
</html>