<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>
        Num1 : @ViewBag.calc.num1
    </div>
    <div>
        Num2 : @ViewBag.calc.num2
    </div>
    <div>
        Answer : @ViewBag.calc.answer
    </div>

</body>
</html>