
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <section>
        @using (Html.BeginForm("test2_ans","Home"))
        {
            <input type="number" name="num1" /><br />
            <input type="number" name="num2" /><br />
            <input type="submit" name="add" /><br />

        }
    </section>
</body>
</html>